{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#{% for flashError in app.flashes('verify_email_error') %}#}
{#    <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#{% endfor %}#}

{#<h1>Register</h1>#}

{#{{ form_start(registrationForm) }}#}
{#{{ form_row(registrationForm.username) }}#}
{#{{ form_row(registrationForm.password, {#}
{#    label: 'Password'#}
{#}) }}#}
{#{{ form_row(registrationForm.agreeTerms) }}#}

{#<button type="submit" class="btn">Register</button>#}
{#{{ form_end(registrationForm) }}#}
{#{% endblock %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

    <title>CMM - Register</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext"
          rel="stylesheet">

    <!-- CSS - REQUIRED - START -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">


    <!-- CSS - REQUIRED - END -->

    <!-- CSS - OPTIONAL - START -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome/css/font-awesome.min.css') }}">


    <!-- CSS - DEMO - START -->

    <!-- CSS - DEMO - END -->

    <!-- CSS - OPTIONAL - END -->

    <!-- QuillPro Styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/quillpro/quillpro.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/loginStyle.css') }}">


</head>

<body>
<div class="row">


    <div class="col-12 text-center mt-3"><a class="" href="{{ path('home') }}">
            <img src="{{ asset('assets/img/logo-dark.png') }}" alt="QuillPro" width="145" height="32.3">
        </a></div>
</div>




{{ form_start(registrationForm) }}
<div class="row m-5">
    <div class="col-4 order-md-1">
        <div class="bg-primary p-5">
            <h1 class="text-danger font-weight-bold">Account Info</h1>
            <div class="form-group">
                {{ form_row(registrationForm.username) }}
            </div>
            <div class="textColor">{{ form_label(registrationForm.email, 'Email*') }}</div>
            <div class="form-group">
                {{ form_row(registrationForm.email, {
                    label: ' ',
                }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.password, {
                    label: 'Password'
                }) }}
            </div>
        </div>
    </div>
    <div class="col-4 order-md-2">
        <div class="bg-dark p-5 text-dark">
            <h1 class="text-danger font-weight-bold">Personal Info</h1>
            <div class="form-group">
                {{ form_row(registrationForm.firstName) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.lastName) }}
            </div>
            <div class="form-group mt-1">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
    </div>
    <div class="col-4 text-dark order-md-3">
        <div class="bg-primary p-5 text-dark">
            <h1 class="text-danger font-weight-bold">CardMarket Info</h1>

            <div class="form-group text-dark">
                {{ form_row(registrationForm.cmAppToken) }}
                <small id="emailHelp" class="form-text text-muted">We'll never share your cardmarket credentials with
                    anyone
                    else.
                </small>
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.cmAppSecret) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.cmAccessToken) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.cmAccessSecret) }}
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary btn-gradient btn-block"><span class="gradient">
								<i class="batch-icon batch-icon-quill"></i>
								Sign Up
							</span></button>
        <hr>
        <p class="text-center">
            Already Have An Account? <a href="{{ path('app_login') }}">Sign In here</a>
        </p>
    </div>
    <div class="col-3"></div>
</div>
{{ form_end(registrationForm) }}



{#<div class="row">#}
{#        <div class="row mx-0">#}
{#            {{ form_start(registrationForm) }}#}
{#                <div class="bg-dark">#}
{#                    <h1>Market Info</h1>#}

{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.cmAppToken) }}#}
{#                        <small id="emailHelp" class="form-text text-muted">We'll never share your cardmarket credentials with anyone#}
{#                            else.#}
{#                        </small>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.cmAppSecret) }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.cmAccessToken) }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.cmAccessSecret) }}#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary btn-gradient btn-block"><span class="gradient">#}
{#								<i class="batch-icon batch-icon-quill"></i>#}
{#								Sign Up#}
{#							</span></button>#}
{#                    <hr>#}
{#                    <p class="text-center">#}
{#                        Already Have An Account? <a href="/login">Sign In here</a>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="bg-white">#}
{#                    <a class="signin-logo d-sm-none d-md-block" href="#">#}
{#                        <img src="assets/img/logo-dark.png" alt="QuillPro" width="145" height="32.3">#}
{#                    </a>#}
{#                    <h1>Personal Info</h1>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.username) }}#}
{#                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
{#                            else.#}
{#                        </small>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.email) }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        {{ form_row(registrationForm.password, {#}
{#                            label: 'Password'#}
{#                        }) }}#}
{#                    </div>#}
{#                </div>#}
{#            {{ form_end(registrationForm) }}#}
{#        </div>#}
{#</div>#}


<!-- Form Validation -->
<script type="text/javascript" src="{{ asset('assets/plugins/form-validator/jquery.form-validator.min.js') }}"></script>
<!-- SCRIPTS - OPTIONAL START -->

</body>
</html>
