{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ dump(cardmarket) }}
    <main class="main-content p-5" role="main">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-user-profile">
                    <div class="profile-page-left">
                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="profile-picture profile-picture-lg bg-gradient bg-primary mb-4">
                                    <img src="{{ avatar }}" width="144"
                                         height="144">
                                </div>
                                <a class="btn btn-primary btn-block btn-gradient" href="#">
                                    <i class="batch-icon batch-icon-user-alt-add-2"></i>
                                    Follow
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Followers</h5>
                                <div class="h3 my-0">
                                    <a href="#">682</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="my-0">Following</h5>
                                <div class="h3 my-0">
                                    <a href="#">341</a>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h5>
                            <i class="batch-icon batch-icon-users"></i>
                            Friends
                        </h5>
                        <div class="profile-page-block-outer clearfix">
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-3.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-3.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-4.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-5.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="{{ asset('assets/img/profile-pic-6.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-2.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-3.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="{{ asset('assets/img/profile-pic-4.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-5.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="{{ asset('assets/img/profile-pic-6.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-secondary">
                                    <img src="{{ asset('assets/img/profile-pic-2.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <div class="profile-page-block">
                                <div class="profile-picture bg-gradient bg-primary">
                                    <img src="{{ asset('assets/img/profile-pic-3.jpg') }}" width="44"
                                         height="44">
                                </div>
                            </div>
                            <a class="float-right mt-2" href="#">More</a>
                        </div>
                        <hr/>
                        <h5>
                            <i class="batch-icon batch-icon-image"></i>
                            Album
                        </h5>
                        <a href="#">
                            <img src="{{ asset('assets/img/album-image.jpg') }}"
                                 class="img-fluid img-thumbnail"/>
                        </a>
                        <a class="float-right mt-2" href="#">More</a>
                        <hr>
                        <h5>
                            <i class="batch-icon batch-icon-users"></i>
                            Cardmarket Info
                        </h5>
                        <div class="profile-page-block-outer clearfix">
                                                                  <div><p>Username: <span>{{ cardmarket.account.username }}</span></p> </div>
                                                                  <div><p>Account Balance: <span>{{ cardmarket.account.moneyDetails.totalBalance }}</span></p> </div>
                            {#                                      <div><p>Bank: <span>{{ cardmarket.account.bankRecharge }}</span></p> </div>#}
                            {#                                      <div><p>Paypal: <span>{{ cardmarket.account.paypalRecharge }}</span></p> </div>#}
                            {#                                      <div><p>Items in Shopping cart: <span>{{ cardmarket.account.articlesInShoppingCart }}</span></p> </div>#}
                            {#                                      <div><p>Messages: <span>{{ cardmarket.account.unreadMessages }}</span></p> </div>#}
                        </div>
                    </div>
                    <div class="profile-page-center">
                        <h1 class="card-user-profile-name">{{user.firstName}} {{ user.lastName }}</h1>
                        <div class="comment-block">
                            <div class="form-group">
                                            <textarea cla   ss="form-control" id="comment-textarea" rows="2"
                                                      placeholder="Enter your comment here..."></textarea>
                                <div class="media-feed-control clearfix">
                                    <button type="button"
                                            class="btn btn-secondary btn-sm comment-reply float-right">Post
                                    </button>
                                    <a href="#" data-toggle="tooltip" title="Add Picture">
                                        <i class="batch-icon batch-icon-image"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <ul class="list-unstyled mt-5">
                            <li class="media">
                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                    <img src="assets/img/profile-pic.jpg" width="44" height="44">
                                </div>
                                <div class="media-body">
                                    <div class="media-title mt-0 mb-1">
                                        <a href="#">Johanna Quinn</a>
                                        <small> 1 hour ago</small>
                                    </div>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                    ante sollicitudin. Cras purus odio.
                                    <div class="media-feed-control">
                                        <a href="#">
                                            <i class="batch-icon batch-icon-heart-full"></i>
                                            Like (4)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>
                                            Comment (2)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-flag"></i>
                                            Report
                                        </a>
                                    </div>
                                    <div class="media-body-reply-block">
                                        <ul class="list-unstyled">
                                            <li class="media mt-4">
                                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                                    <img src="assets/img/profile-pic-2.jpg" width="44"
                                                         height="44">
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-title mt-0 mb-1">
                                                        <a href="#">Samantha Carter</a>
                                                        <small> 45 mins ago</small>
                                                    </div>
                                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                                    metus scelerisque ante sollicitudin. Cras purus odio.
                                                    <div class="media-feed-control">
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-heart-full"></i>
                                                            Like
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>
                                                            Comment
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-flag"></i>
                                                            Report
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="media mt-4">
                                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                                    <img src="assets/img/profile-pic-3.jpg" width="44"
                                                         height="44">
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-title mt-0 mb-1">
                                                        <a href="#">Teal'c Jaffa</a>
                                                        <small> 7 mins ago</small>
                                                    </div>
                                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                                    metus scelerisque ante sollicitudin. Cras purus odio.
                                                    <div class="media-feed-control">
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-heart-full"></i>
                                                            Like
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>
                                                            Comment
                                                        </a>
                                                        <a href="#">
                                                            <i class="batch-icon batch-icon-flag"></i>
                                                            Report
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="comment-reply-block mt-4">
                                                <div class="form-group clearfix">
                                                                <textarea class="form-control comment-reply-textarea"
                                                                          rows="2"
                                                                          placeholder="Enter your comment here..."></textarea>
                                                    <button type="button"
                                                            class="btn btn-secondary btn-sm comment-reply float-right">
                                                        Reply
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                    <img src="assets/img/profile-pic.jpg" width="44" height="44">
                                </div>
                                <div class="media-body">
                                    <div class="media-title mt-0 mb-1">
                                        <a href="#">Johanna Quinn</a>
                                        <small> 1 hour ago</small>
                                    </div>
                                    <a href="#">
                                        <img src="assets/img/album-image.jpg"
                                             class="img-fluid img-thumbnail">
                                    </a>
                                    <div class="media-feed-control">
                                        <a href="#">
                                            <i class="batch-icon batch-icon-heart-full"></i>
                                            Like (57)
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-speech-bubble-left-tip"></i>
                                            Comment
                                        </a>
                                        <a href="#">
                                            <i class="batch-icon batch-icon-flag"></i>
                                            Report
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <footer>
                Powered by - <a href="http://base5builder.com/?click_source=quillpro_footer_link"
                                target="_blank"
                                style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span
                            style="color:#ffa733;font-weight:bold">5</span>Builder</a>
            </footer>
        </div>
    </div>
    </main>
{% endblock %}
